/* src/pages/ClientProfile.css */

.client-profile-container {
  width: 98%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 190%; /* Adjusted height */
  overflow: auto; /* Added overflow for scrolling if needed */
}

.client-profile-container h2 {
  margin-bottom: 20px;
}

.client-profile-container form {
  display: flex;
  flex-direction: column;
}

.client-profile-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.client-profile-container input[type="file"] {
  padding: 8px;
}

.client-profile-container button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client-profile-container button:hover {
  background-color: #0056b3;
}
