.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.logo {
  display: flex;
  align-items: center; /* Align items vertically */
  color: #161fd3;
  
}

.additional-links {
  display: flex;
  margin-left: 1rem; /* Add margin for spacing */
}

.additional-links .nav-link {
  text-decoration: none;
  color: #010910; /* Dark gray color */
  font-size: 0.9rem; /* Adjust font size for smaller links */
  transition: color 0.3s ease; /* Add transition for smoother color change */
}

.additional-links .nav-link:hover {
  color: #02080e; /* Change color on hover to blue */
}

.additional-links .nav-link + .nav-link {
  margin-left: 1.5rem; /* Add more margin between links */
}

.nav-link {
  text-decoration: none;
  color: #1414e7;
}

.auth-links {
  display: flex;
}

.auth-links .nav-link {
  margin-left: 1.5rem; /* Add more margin between links */
  text-decoration: none;
  color: #020c16; /* Blue color for sign-in/sign-up */
  font-weight: bold; /* Make sign-in/sign-up bold */
  transition: color 0.3s ease; /* Add transition for smoother color change */
}

.auth-links .nav-link:hover {
  color: #0056b3; /* Darker blue on hover */
}

.logo {
  font-weight: bold;
  font-size: 1.5rem; /* Adjust font size for bigger "Coachini" text */
  color: #007bff; /* Blue color for Coachini */
  text-decoration: none;
}
